* {
    font-family:serif, Helvetica, sans-serif; /* Raleway (font)*/
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background: rgb(255, 255, 255);
    font-family:Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
   color:#fa8072;
    padding: 0px;
    text-align: center;
    height: auto;
}

.bgColor{
  background-color:#C4C4C4;
}

.navBar{
  position: fixed;
  display: flex;
  flex-direction: row-reverse; 
  background-color:#fa8072 !important;
  height: auto;
  width:100%;

}

.logoImg{
position: absolute;
left: 1%;
top:10%;
}

.button{
  background-color: rgba(255, 255, 255, 0);
  color:rgba(0, 0, 0, 0.61);
  border: none;
  text-align:center;
  padding: 10px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: all 0.15s;
}

.button:hover{
  color:rgba(230, 226, 223, 0.856);
  border-color: #DDDDDD;
}

.displayBox{
  background: #facf7282;
  margin: 0px;
  padding:10px;
  border-radius: 9%; 
}

.loginFont b{
  font-size: 16px !important;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:50px;
}

.bubble{
  position: sticky;
  padding: 40px;
  margin:20px;
  width: 25%;
  left:35%;
  border-style: double;
  transition: all 0.27s;
}

.bubble:hover{
  color:rgba(230, 226, 223, 0.856);
  border-color: #DDDDDD;
  color:rgb(214, 177, 125);
}